.wrapper {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.beat {
  border: 2px solid black;
  border-radius: 16px;
  height: 100%;
  width: 100%;
}

.active {
  background-color: orange;
}
