.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.beatRow {
  display: flex;
  height: 40px;
  justify-content: center;
  gap: 12px;
}

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100px;
}

.addGroupButton {
  margin-top: 12px;
}
