.wrapper {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.beatRow {
  display: flex;
  height: 40px;
  justify-content: center;
  gap: 12px;
}

.groupSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100px;
  width: 100%;
}

.infoRow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
  margin-left: -24px;
}

.groupTabs {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.addGroupButton {
}
