.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  border: solid black 2px;
  border-radius: 8px;
  padding: 6px;
  height: 100px;
  font-size: 2rem;
}

.seperator {
  height: 80%;
  width: 3px;
  background-color: gray;
}
