.wrapper {
  font-size: 1.5rem;
}

.settingSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.timeSigEdit {
  display: flex;
  justify-content: space-around;
}

.beatsPerMeasure {
  width: 60px;
  border-radius: 4px;
  padding-left: 8px;
  line-height: 1;
  height: 35px;
  background-color: white;
  color: darkgoldenrod;
}

.subdivSection {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.subdivToggleGroup {
}
